body {
    background-image: url("images/fon2.jpg");
    background-size: 100%;
    margin: 0;
}
.block{
    width: 500px;
    height: 500px;
    margin: 0 auto;
}
.block_content{
  padding-top: 15%;
}
.block_head_text{
    display: block;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    font-weight: 600;
    background: #ffffff;
    opacity: 0.7;
    text-decoration: none;
    color: black;
}